<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignUp(signUpForm)" #signUpForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput name="firstName" ngModel type="text" placeholder="Enter First Name" #firstNameInput="ngModel" required>
            <mat-error *ngIf="firstNameInput.invalid">Please enter a first name.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="lastName" ngModel type="text" placeholder="Enter Last Name" #lastNameInput="ngModel" required>
            <mat-error *ngIf="lastNameInput.invalid">Please enter a last name.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="email" ngModel type="email" placeholder="Enter E-Mail" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Sign-Up</button>
    </form>
</mat-card>
