<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="rounds.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let round of rounds">
        <mat-expansion-panel-header>
            {{round.course}}
        </mat-expansion-panel-header>
        <p>Score: {{round.score}}</p>
        <p>Course rating: {{round.rating}}</p>
        <p>Course slope: {{round.slope}}</p>
        <p>Date played: {{round.date}}</p>
        <mat-action-row>
            <a mat-button color="primary" [routerLink]="['/edit/', round.id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(round.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalRounds" [pageSize]="roundsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"*ngIf="rounds.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="0 >= rounds.length">No Rounds added yet!</p>
