<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onAddRound(roundForm)" #roundForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput [ngModel]="round?.score" name="score" type="text" required #score="ngModel" placeholder=" Enter your score">
            <mat-error *ngIf="score.invalid">Please enter a score</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [ngModel]="round?.course" name="course" type="text" required #course="ngModel" placeholder="Enter the course played">
            <mat-error *ngIf="course.invalid">Please enter a course</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [ngModel]="round?.rating" name="rating" type="text" required #rating="ngModel" placeholder="Enter course rating">
            <mat-error *ngIf="rating.invalid">Please enter the course rating</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [ngModel]="round?.slope" name="slope" type="text" required #slope="ngModel" placeholder="Enter course slope">
            <mat-error *ngIf="slope.invalid">Please enter the course's slope</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [ngModel]="round?.date" name="date" type="date" required #date="ngModel" placeholder="Select date played">
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save Round</button>
    </form>
</mat-card>