<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onAddRound()" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput formControlName="score" type="text" placeholder=" Enter your score">
            <mat-error *ngIf="form.get('score').invalid">Please enter a score</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="course" type="text" placeholder="Enter the course played">
            <mat-error *ngIf="form.get('course').invalid">Please enter a course</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="rating" type="text" placeholder="Enter course rating">
            <mat-error *ngIf="form.get('rating').invalid">Please enter the course rating</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="slope" type="text" placeholder="Enter course slope">
            <mat-error *ngIf="form.get('slope').invalid">Please enter the course's slope</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="date" type="date" placeholder="Select date played">
        </mat-form-field>
        <div>
            <button mat-raised-button color="accent" type="submit">Save Round</button>
            <!-- REMOVE IMAGES LATER HERE -->
            <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImagedPicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('courseLogo').valid">
            <img [src]="imagePreview" [alt]="form.value.course">
        </div>
    </form>
</mat-card>